# This workflow will build On My Route
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build

on:
  push:
    branches:
      - '**'
jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    env:
      HAVE_CERTIFICATE: ${{ secrets.CERTIFICATE != '' }}
    steps:
    - name: Install Inno Setup
      run: choco install innosetup --no-progress --require-checksums
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - uses: actions/cache@v4 # https://github.com/actions/cache/blob/main/examples.md#c---nuget
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
    - name: Display .NET information
      run: dotnet --info
    - name: Import Code Signing Certificate
      if: ${{ env.HAVE_CERTIFICATE == 'true' }}
      env:
        CERTIFICATE: ${{ secrets.CERTIFICATE }}
        CERTIFICATEPASSWORD: ${{ secrets.CERTIFICATEPASSWORD }}
      run: |
        Set-Content Certificate.pfx ([Convert]::FromBase64String($env:CERTIFICATE)) -AsByteStream
        Import-PfxCertificate Certificate.pfx Cert:\CurrentUser\My -Password (ConvertTo-SecureString $env:CERTIFICATEPASSWORD -AsPlainText -Force)
        del Certificate.pfx
    - name: Dump GitHub context
      if: ${{ startsWith(github.ref_name, 'dependabot') }}
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Update packages.lock.json files
      if: ${{ startsWith(github.ref_name, 'dependabot') }}
      run: |
        dotnet restore --force-evaluate
        git add -- **/packages.lock.json
        git -c 'user.email=${{ github.event.head_commit.author.email }}' -c 'user.name=${{ github.event.head_commit.author.name }}' commit -m 'Update packages.lock.json files'
        git push
    - name: Update BuildTools version
      if: ${{ startsWith(github.ref_name, 'dependabot') }}
      run: |
        dotnet.exe restore
        $version = dotnet.exe package list --project .\on-my-route.sln --format json | ConvertFrom-Json | % projects | % frameworks | % topLevelPackages | ? { $_.id -eq 'Microsoft.Windows.SDK.BuildTools' } | % requestedVersion
        dir OnMyRoute\OnMyRoute.csproj.development.* | % { (Get-Content $_) -replace '\\\d+\.\d+\.\d+\.\d+\\', "\$version\" | Out-File $_ -Encoding utf8BOM }
        git add -- OnMyRoute\OnMyRoute.csproj.development.*
        git -c 'user.email=${{ github.event.head_commit.author.email }}' -c 'user.name=${{ github.event.head_commit.author.name }}' commit -m 'Update Microsoft.Windows.SDK.BuildTools version'
        git push
    - name: Restore, Build
      run: dotnet build -c Release -bl:build.binlog
    - name: Publish
      run: dotnet publish --no-restore --no-build --sc OnMyRoute -bl:publish.binlog
    - name: Collect Symbol files
      run: dotnet build .github\workflows\CollectSymbolFiles.proj -p:Solution=on-my-route.sln -c Release -bl:symbol.binlog
    - name: Delete Code Signing Certificate
      if: ${{ always() }}
      run: dir -Recurse -Force Cert:\ -Include 6C3189FAE1E32A5892F5DBE04C254DAC4630281F, C02731566655F92B2EA62F37FEE4CA9BDC4542EE | % { del $_.PSPath -DeleteKey -Verbose }
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal
    - name: Show Version
      uses: dotnet/nbgv@master
      id: nbgv
    - run: echo 'SemVer2=${{ steps.nbgv.outputs.SemVer2 }}'
    - name: Upload log files
      if: ${{ success() || failure() }}
      uses: actions/upload-artifact@v5
      with:
        name: log
        path: '**/*.binlog'
    - name: Upload Installer
      uses: actions/upload-artifact@v5
      with:
        name: installer
        path: '**/installer/**/*'
    - name: Upload Symbol files
      uses: actions/upload-artifact@v5
      with:
        name: Symbol files
        path: 'Symbols.zip'
    - name: Tag
      if: ${{ github.ref_name == 'main' && env.HAVE_CERTIFICATE == 'true' }}
      run: |
        git tag ${{ steps.nbgv.outputs.SemVer2 }}
        git push origin ${{ steps.nbgv.outputs.SemVer2 }}
    - name: Release
      if: ${{ (github.ref_name == 'main' || startsWith(github.ref_name, 'v')) && env.HAVE_CERTIFICATE == 'true' }}
      uses: ncipollo/release-action@v1
      with:
        artifacts: 'OnMyRoute/bin/**/installer/**/*,Symbols.zip'
        artifactErrorsFailBuild: true
        commit: ${{ github.ref_name }}
        tag: ${{ steps.nbgv.outputs.SemVer2 }}
        draft: ${{ github.ref_name == 'main' }}
        prerelease: ${{ steps.nbgv.outputs.PrereleaseVersion != '' }}
